<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title></title>
	</head>
	<body>
        <ul>
            <strong>Name:</strong> <%= file.name %></p>
            <p><strong>Size:</strong> <%= file.size %> bytes</p>
            <p><strong>Upload speed:</strong> <%= file.upload %> bytes/s</p>
    </body>
</html>
