<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title></title>
	</head>
	<body>
		<h1>please log in</h1>
		<% if (locals.user) {%>
		<h1>WELCOME BACK <%= user.name %></h1>
		<%}%>
		<form action="/log-in" method="POST">
			<label for="username">Username</label>
			<input id="username" name="username" type="text" />
			<label for="password">Password</label>
			<input id="password" name="password" type="password" />
			<button>Log In</button>
		</form>
		<h1>Upload file</h1>
		<form method="POST" enctype="multipart/form-data">
			<!-- <label for="username">Username</label> -->
			<input id="file" name="file" type="file" />
		</form>
		<ul>
			<% for (let folder of folders) { %>
				<li>
					<h3><%= folder.name %></h3>
					<ul>
						<% if (folder.files) { %>
							<% for (let file of folder.files) { %>
								<li>
									<p><%= file.name %></p>
									<a href="/file?id=<%= file.id %>">View Details</a>
								</li>
							<% } %>
						<% } %>
					</ul>
				</li>
			<%}%>
		</ul>
	</body>
</html>
